flows.json
[{"id":"70aa4d27.80b934","type":"tab","label":"Flow 1","disabled":false,"info":"[{\"id\":\"c683bbd9.5df328\",\"type\":\"tab\",\"label\":\"Watson Assisstant\",\"disabled\":false,\"info\":\"\"},{\"id\":\"62a56248.57adbc\",\"type\":\"watson-conversation-v1\",\"z\":\"c683bbd9.5df328\",\"name\":\"Assisstant\",\"workspaceid\":\"da541be7-4f08-4ad3-93c7-2597ae44461e\",\"multiuser\":false,\"context\":false,\"empty-payload\":false,\"service-endpoint\":\"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/498399c1-6148-49bc-9fdc-d6feec9a4f7b\",\"timeout\":\"\",\"optout-learning\":false,\"x\":375,\"y\":180,\"wires\":[[\"62015b9e.d93144\",\"c051d27d.eb886\"]],\"l\":false},{\"id\":\"64122a47.27e344\",\"type\":\"function\",\"z\":\"c683bbd9.5df328\",\"name\":\"F1\",\"func\":\"msg.payload = msg.payload.text; \\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":255,\"y\":260,\"wires\":[[\"62a56248.57adbc\",\"d51124f.6039bd8\"]],\"l\":false},{\"id\":\"e57a0dc7.b512f\",\"type\":\"ui_form\",\"z\":\"c683bbd9.5df328\",\"name\":\"\",\"label\":\"form\",\"group\":\"648afa69.071244\",\"order\":1,\"width\":0,\"height\":0,\"options\":[{\"label\":\"Enter the input\",\"value\":\"text\",\"type\":\"text\",\"required\":true,\"rows\":null}],\"formValue\":{\"text\":\"\"},\"payload\":\"\",\"submit\":\"submit\",\"cancel\":\"cancel\",\"topic\":\"\",\"x\":95,\"y\":280,\"wires\":[[\"64122a47.27e344\"]],\"l\":false},{\"id\":\"62015b9e.d93144\",\"type\":\"function\",\"z\":\"c683bbd9.5df328\",\"name\":\"F2\",\"func\":\"if(msg.payload.output.error){\\n    msg.payload = \\\"please rephrase\\\";\\n    return msg;\\n}\\nmsg.payload = msg.payload.output.text[0];\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":515,\"y\":240,\"wires\":[[\"3db259c6.ab0bd6\"]],\"l\":false},{\"id\":\"d51124f.6039bd8\",\"type\":\"ui_text\",\"z\":\"c683bbd9.5df328\",\"group\":\"648afa69.071244\",\"order\":3,\"width\":0,\"height\":0,\"name\":\"\",\"label\":\"You\",\"format\":\"{{msg.payload}}\",\"layout\":\"row-spread\",\"x\":395,\"y\":360,\"wires\":[],\"l\":false},{\"id\":\"3db259c6.ab0bd6\",\"type\":\"ui_text\",\"z\":\"c683bbd9.5df328\",\"group\":\"648afa69.071244\",\"order\":6,\"width\":0,\"height\":0,\"name\":\"\",\"label\":\"bot\",\"format\":\"{{msg.payload}}\",\"layout\":\"col-center\",\"x\":670,\"y\":360,\"wires\":[]},{\"id\":\"c051d27d.eb886\",\"type\":\"debug\",\"z\":\"c683bbd9.5df328\",\"name\":\"\",\"active\":true,\"tosidebar\":true,\"console\":false,\"tostatus\":false,\"complete\":\"false\",\"x\":540,\"y\":80,\"wires\":[]},{\"id\":\"648afa69.071244\",\"type\":\"ui_group\",\"z\":\"\",\"name\":\"CHATBOT\",\"tab\":\"25f29110.d110ae\",\"order\":1,\"disp\":true,\"width\":13,\"collapse\":false},{\"id\":\"25f29110.d110ae\",\"type\":\"ui_tab\",\"z\":\"\",\"name\":\"CUSTOMERCARE\",\"icon\":\"\",\"disabled\":false,\"hidden\":false}]"},{"id":"fbe5273c.1da0a8","type":"function","z":"70aa4d27.80b934","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":220,"wires":[["fe5d4199.4aa8e","8f805b48.164c18"]],"l":false},{"id":"2806551f.3268ea","type":"function","z":"70aa4d27.80b934","name":"bot","func":"if(msg.payload.output.error)\n{\n    msg.payload = \"please rephrase your text!!\";\n    return msg;\n}\nmsg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":535,"y":360,"wires":[["137017b9.d18f08"]],"l":false},{"id":"ef074fb3.d919c","type":"ui_form","z":"70aa4d27.80b934","name":"","label":"","group":"3927c11a.43ee2e","order":1,"width":0,"height":0,"options":[{"label":"enter text here","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":155,"y":240,"wires":[["fbe5273c.1da0a8"]],"l":false},{"id":"20054013.2a952","type":"ui_text","z":"70aa4d27.80b934","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"137017b9.d18f08","type":"ui_text","z":"70aa4d27.80b934","group":"3927c11a.43ee2e","order":3,"width":17,"height":8,"name":"","label":"you","format":"{{msg.payload}}","layout":"col-center","x":715,"y":420,"wires":[],"l":false},{"id":"fe5d4199.4aa8e","type":"watson-conversation-v1","z":"70aa4d27.80b934","name":"chatbot","workspaceid":"58fa8332-3bf1-4025-8059-76203108d92e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.au-syd.assistant.watson.cloud.ibm.com/instances/213fa60a-36d3-4ec3-98e7-b8a47db3f8c9","timeout":"","optout-learning":false,"x":420,"y":200,"wires":[["2806551f.3268ea","f3fd794.deffd88"]]},{"id":"f3fd794.deffd88","type":"debug","z":"70aa4d27.80b934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":160,"wires":[]},{"id":"8f805b48.164c18","type":"ui_text","z":"70aa4d27.80b934","group":"3927c11a.43ee2e","order":4,"width":0,"height":0,"name":"","label":"me","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":460,"wires":[]},{"id":"3927c11a.43ee2e","type":"ui_group","z":"","name":"Default","tab":"5cce162b.2aaf98","order":1,"disp":true,"width":17,"collapse":false},{"id":"5cce162b.2aaf98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]