node-red-flow.json
[{"id":"c544fbf7.b19bd8","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"c25cb4a2.cb3458","type":"watson-conversation-v1","z":"c544fbf7.b19bd8","name":"Assisstant","workspaceid":"9141c68f-5781-4b43-85f6-179c1da416fb","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b6d45891-355b-4b3b-82fd-40e50103153a","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["91dd26cf.b0eca8","792ac260.08eb3c"]],"l":false},{"id":"ae944165.529e6","type":"function","z":"c544fbf7.b19bd8","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["c25cb4a2.cb3458","1102c7b1.5ef888"]],"l":false},{"id":"58e87868.e88f48","type":"ui_form","z":"c544fbf7.b19bd8","name":"","label":"form","group":"4d52573c.953958","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["ae944165.529e6"]],"l":false},{"id":"91dd26cf.b0eca8","type":"function","z":"c544fbf7.b19bd8","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["47e9258f.25200c"]],"l":false},{"id":"1102c7b1.5ef888","type":"ui_text","z":"c544fbf7.b19bd8","group":"4d52573c.953958","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":235,"y":380,"wires":[],"l":false},{"id":"47e9258f.25200c","type":"ui_text","z":"c544fbf7.b19bd8","group":"4d52573c.953958","order":6,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":360,"wires":[]},{"id":"792ac260.08eb3c","type":"debug","z":"c544fbf7.b19bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":80,"wires":[]},{"id":"4d52573c.953958","type":"ui_group","z":"","name":"CHATBOT","tab":"de4862ac.decc9","order":1,"disp":true,"width":13,"collapse":false},{"id":"de4862ac.decc9","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]